# Database Configuration
ENV=local
DB_HOST=db
DB_PORT=3306
DB_NAME=ochoworksdesigns
DB_USER=admin
DB_PASSWORD=admin_password

# API Configuration
API_BASE_URL=http://localhost:8222
API_KEY=abc123
DEBUG=true

APP_BASE_URL=http://localhost:4222
APP_POST_DEFAULT_IMAGE=/assets/images/plan-1.jpg

# Email Configuration
EMAIL_API_KEY=replace-me
CONTACT_EMAIL=randy@ochoworksdesigns.com
FROM_EMAIL=noreply@ochoworksdesigns.com
FROM_NAME=OchoWorks Designs
DEV_EMAIL=randystewart8@gmail.com
REPLY_TO_EMAIL=randy@ochoworksdesigns.com

# ReCAPTCHA Configuration
RECAPTCHA_SECRET_KEY=replace-me

# Paths
LOGGERPATH=/var/log/ochoworksdesigns/logger.log
ERRORPATH=/var/log/ochoworksdesigns/error.log

JWT_SECRET=change-me
ADMIN_ROLE_ID=1

SITEMAP_FILE_PATH=/var/www/web/public/sitemap.xml
TRACKING_URL=http://localhost:8222

# options: mailtrap, sendgrid
EMAIL_PROVIDER=mailtrap
MAILTRAP_INBOX_ID=16065
